<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% comment %}
      {% include header.html %}
    {% endcomment %}



    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            {% include nav.html %}
          </div>
          <div class="inner cover container content-container">
            {{ content }}
          </div>



        </div>
      </div>
    </div>

    {% include footer.html %}

  {% include js.html %}

  </body>
</html>